*{
	border: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	background-color: #1D2D50;
}
html::-webkit-scrollbar {
	background-color: #2a3e57;
}
html::-webkit-scrollbar-thumb {
	background-color: #537297;
	border-radius: 1rem;
}