*{
	border: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	background: linear-gradient(to top, #fa709a 0%, #fee140 100%) no-repeat fixed;
}
@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu Medium'), url(../src/fonts/Ubuntu-Medium.ttf), format('truetype');
}