*{
	border: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	background: linear-gradient(to top, #dd6589 0%, #f88b7d 60%, #fee140 100%) no-repeat fixed;
}
@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu Medium'), url(../src/fonts/Ubuntu-Medium.ttf), format('truetype');
}
html::-webkit-scrollbar {
	background-color: #f88b7d;
}
html::-webkit-scrollbar-thumb {
	background-color: #67001E;
	border-radius: 1rem;
}